@tailwind base;
@tailwind components;
@tailwind utilities;


.landing_page{
    background-image: url("./assets/images/landing.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
     /* no-repeat center center fixed; */
    background-size: cover;
    height: 100vh;
}

.player_table{
    width: 800px;
}